{% load static %}

<comment class="card p-4 !mb-4">
    <div class="flex justify-between items-center"> 
        {% if comment.author %}
            <a class="flex items-center gap-1 mb-2" href="{% url "userprofile" comment.author.username %}">
                <img class="w-8 h-8 object-cover rounded-full" src="{{ comment.author.profile.avatar}}"> 
                <span class="font-bold hover:underline">{{ comment.author.profile.name }}</span>
                <span class="text-sm font-normal text-gray-400">@{{ comment.author.username }}</span>
            </a>
        {% else %}
            <div class="flex items-center gap-1 mb-4">
                <img class="w-8 h-8 object-cover rounded-full" src="{% static 'images/avatar_default.svg' %}">
                <span class="text-gray-500">no author</span>
            </div>
        {% endif %}
    </div>
    <p class="text-xl px-2">
        {{ comment.body }}
    </p>
    <div x-data="{ repliesOpen: false }" class="flex items-center justify-between flex-wrap text-sm px-2">
        <a @click="repliesOpen = !repliesOpen" class="font-bold hover:underline cursor-pointer">
            <div class="inline-block" x-bind:class="repliesOpen && 'rotate-90 duration-300'">
                <svg transform ="rotate(90)" width="9" height="9" viewBox="0 0 25 25">
                    <path d="M24 22h-24l12-20z"/>
                </svg>
            </div>
            Replies
            <span class="font-light text-gray-500 ml-1">1</span>
        </a>
        <div class="flex items-center gap-4 [&>a:hover]:underline">
            <div class="flex items-center gap-1">
                <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png">
                1
            </div>
            <a href="">Like</a>
            <a href="">Delete</a>
        </div>

        <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1">

            <reply class="flex items-end justify-between py-4 border-t">
                <div class="flex">
                    <a href="">
                        <img class="w-8 h-8 object-cover rounded-full mr-2" src="https://img.icons8.com/small/96/A9A9A9/happy.png">
                    </a>
                    <div class="w-fit">
                        <a class="block" href="">
                            <span class="font-bold hover:underline">Homer</span>
                            <span class="text-sm text-gray-400">@homersimpson</span>
                        </a>
                        <div class="mr-3">This is a reply from Homer</div>
                    </div>
                </div>
                <div class="flex items-center gap-4 [&>a:hover]:underline">
                    <div class="flex items-center gap-1">
                        <img class="w-5 -mt-1" src="https://img.icons8.com/small/24/000000/fire-heart.png">
                        1
                    </div>
                    <a href="">Like</a>
                    <a href="">Delete</a>
                </div>
            </reply>

            <form method="POST" class="replyform flex justify-between" autocomplete="off">
                <input type="text" name="reply" placeholder="Add reply ..." maxlength="150">
                <button class="block" type="submit">Submit</button>
            </form>
        </div>
    </div> 
</comment>